li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-li {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}